In [1]:
import arcpy
import pandas as pd
import geocoder

In [3]:
address_df = pd.read_csv(r'C:\Users\dcook13\Documents\GitHub\pratt-savi-810-2018-10\students\dcook\class4\addresses.csv')

In [4]:
address_df

                                             Address
0  1600 Pennsylvania Avenue Northwest, Washington...
1                         1 Penn Plaza, New York, NY
2                   1 West 72nd Street, New York, NY
3                  226 St. James Place, Brooklyn, NY
4                 1 World Trade Center, New York, NY

In [5]:
address_df['Lat'] = ''
address_df['Long'] = '' ## adding new columns

In [6]:
address_df

                                             Address Lat Long
0  1600 Pennsylvania Avenue Northwest, Washington...
1                         1 Penn Plaza, New York, NY
2                   1 West 72nd Street, New York, NY
3                  226 St. James Place, Brooklyn, NY
4                 1 World Trade Center, New York, NY

In [10]:
# df_test = address_df.set_index('Address')
for index, row in address_df.iterrows():
    # print(index)
    # print(row)
    # print(index,row)
    g = geocoder.arcgis(row['Address'])
    row['Lat'] = g.lat
    row['Long'] = g.lng

In [11]:
address_df

                                             Address      Lat     Long
0  1600 Pennsylvania Avenue Northwest, Washington...  38.8977 -77.0365
1                         1 Penn Plaza, New York, NY  40.7517 -73.9925
2                   1 West 72nd Street, New York, NY  40.7763  -73.976
3                  226 St. James Place, Brooklyn, NY  40.6836 -73.9639
4                 1 World Trade Center, New York, NY  40.7112 -74.0144

In [13]:
address_df.to_csv(r'C:\Users\dcook13\Documents\GitHub\pratt-savi-810-2018-10\students\dcook\class4\addresses_geocoded.csv')

In [14]:
arcpy.MakeXYEventLayer_management(
    r'C:\Users\dcook13\Documents\GitHub\pratt-savi-810-2018-10\students\dcook\class4\addresses_geocoded.csv',
    'Long',
    'Lat',
    'latlong_plot'
    )
## might result in errors, but 'latlong_plot' will still generate successfully

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
arcpy.CopyFeatures_management(
    'latlong_plot',
    r'C:\Users\dcook13\Documents\GitHub\pratt-savi-810-2018-10\students\dcook\class4\plot.shp',
    )